.nav {
    width: 100vw;
    height: 100px;
    position: fixed;
    background: #527883;
}

ul {
    display: flex;
    flex-flow: row;
    width: 100%;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

li {
    flex: 1;
    color: #F7EFB2;
    text-transform: uppercase;
}